.l-search-container{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.search-textbox{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #151E3F;
    padding-left: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #151E3F;
    pointer-events: none;
    font-size: 1rem;
}
