.desktop-dashboard {
    display: block;
}

.music-player {
    display: none;
}

.mobile-dashboard {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop-dashboard {
        display: none;
    }

    .mobile-dashboard {
        display: block;
    }
}
